python-dotenv
pdfplumber
sentence-transformers
qdrant-client
langchain
langchain-classic
langchain-community
langchain-qdrant
langchain-huggingface
rank_bm25
google-genai
groq
fastapi
uvicorn
streamlit
requests
ragas==0.3.9
langchain-groq
pytest
